[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
webcandy-client = "*"
opclib = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-httpauth = "*"
flask-restful = "*"
websockets = "*"
python-dotenv = "*"
marshmallow = "*"

[requires]
python_version = "3.7"
