body {
    margin: 4% 30%;
}

#content {
    position: relative;
}

.title {
    text-align: center;
    margin-bottom: 20%;
}

.dark {
    background-color: #2b2b2b;
    color: aliceblue;
}

.errors {
    text-align: center;
    color: #c75450;
}
